table {
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 1px 10px;
}

th[scope="col"] {
  background-color: #696969;
  color: white;
}

th[scope="col"] a {
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #8eb2f1;
  color: black;
}

table.no-color-bg tbody tr {
  background-color: lightgray;
}

table.planting-table,
table.planting-table th,
table.planting-table td {
  border: 2px solid grey;
}

table.planting-table td {
  padding: 0;
}

body {
  display: flex;
  /* flex-direction: column; */
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  flex-direction: column;
}

nav ul li a {
  background-color: rgb(210, 210, 210);
  margin: 0;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  background-color: rgb(164, 164, 164);
}

nav ul li a.active-page {
  background-color: rgb(164, 164, 164);
}

.content {
  display: flex;
  flex-direction: column;
}

.side-by-side {
}

@media screen and (min-width: 900px) {
  .side-by-side {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }
}

.side-by-side article {
  /*margin-right: 5em;*/
}

.toast {
  background-color: lightgreen;
  padding: 0.5em 1em 0.3em 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
}

.main-content {
  margin-left: 20px;
  margin-right: 20px;
}

button,
.btn {
  background-color: lightblue;
  padding: 8px 20px;
  text-decoration: none;
  margin: 10px 0px;
  display: inline-block;
  color: black;
  border: 1px solid rgb(116, 116, 116);
}

.btn-small {
  padding: 5px 10px;
  font-size: 0.75em;
}

button:hover,
.btn:hover {
  background-color: rgb(122, 200, 226);
}

.seed-table {
  margin-top: 5px;
}

.control-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

dl,
.notes {
  margin-left: 2em;
}

.planting-active,
.planting-harvesting,
.planting-harvested,
.planting-failed,
.planting-transplanted {
  background-color: lightgreen;
}

.planting-concerned {
  background-color: rgb(255, 255, 150);
}

.planting-unsprouted {
  background-color: lightblue;
}

.planting-none {
  background-color: lightgray;
}

.planting-cell {
  padding: 1px 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 0.5em 0.5em;
}
